[submodule "tesseract"]
	path = tesseract-src
	url = https://github.com/tesseract-ocr/tesseract.git
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "leptonica-src"]
	path = leptonica-src
	url = https://github.com/DanBloomberg/leptonica.git
